<!doctype html>
<html lang="en" class="noJS">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <style>
      html {
        opacity: 0;
        transition: opacity 0.5s;
      }

      html.js {
        opacity: 1;
      }

      html.js-nomodule {
        opacity: 1;
      }

      #closer {
        display: none;
        color: var(--site-color) !important;
      }
      body.framed #closer {
        display: inline-block;
      }
    </style>
    <noscript>
      <style>
        html {
          opacity: 1 !important;
        }
      </style>
    </noscript>

    <link rel="modulepreload" href="https://spitlo.com/utils.mjs">

    <script type="module">
      import { dotmatrix, getCookie } from 'https://spitlo.com/utils.mjs'
      // Check if user has saved a theme preference
      const theme = getCookie('theme')
      if (theme === 'light') {
        document.documentElement.classList.add('light')
      } else if (theme === 'dark') {
        document.documentElement.classList.add('dark')
      } else if (theme === 'dotmatrix') {
        dotmatrix()
      }
      // Set js class on <html>
      document.documentElement.classList.remove('noJS')
      document.documentElement.classList.add('js')
      // Set up filter
      const $filter = document.getElementById('filter')
      const $clearFilter = document.getElementById('clearFilter')
      const $videoContainer = document.getElementById('videoContainer')
      const $videos = document.getElementsByClassName('video')
      const $goTop = document.getElementById('goTop')
      const $goBottom = document.getElementById('goBottom')
      $goTop.addEventListener('click', () => {
        document.documentElement.scrollTop = 0
      })
      $goBottom.addEventListener('click', () => {
        document.documentElement.scrollTop = document.documentElement.scrollHeight
      })
      // Set up clear button
      const clearFilter = () => {
        Array.from($videos).forEach(($el) => {
          $el.classList.remove('hidden')
        })
        $filter.value = 'null'
        $filter.classList.remove('active')
        $videoContainer.classList.remove('filtered')
      }
      // Set up filter
      $clearFilter.addEventListener('click', clearFilter)
      $filter.addEventListener('change', (event) => {
        const channel = event?.target?.value
        if (channel && channel !== 'null') {
          // Activate filter
          $filter.classList.add('active')
          $videoContainer.classList.add('filtered')
          // Scroll to top
          document.documentElement.scrollTop = 0
          // Hide all videos
          Array.from($videos).forEach(($el) => {
            $el.classList.add('hidden')
          })
          // Now show all relevant videos
          const $visible = document.querySelectorAll('[data-channel="' + channel + '"]')
          Array.from($visible).forEach(($el) => {
            $el.classList.remove('hidden')
          })
        } else {
          clearFilter()
        }
      })
      // Check if we’re in an iframe
      const $frameElement = window.frameElement
      if ($frameElement) {
        // If we’re in an iframe, the closer button should close it
        document.body.className = 'framed'
        document.getElementById('closer').addEventListener('click', () => {
          $frameElement.remove()
        })
        // And links should have target attribute set to "_blank"
        const $links = document.getElementById('videoContainer').getElementsByTagName('a')
        Array.from($links).forEach(($link) => {
          $link.setAttribute('target', '_blank')
        })
      }
    </script>
    <script nomodule>
      document.documentElement.classList.add('js-nomodule')
      const $filter = document.getElementById('filter')
      $filter.style = 'display: none;'
    </script>

    <title>Tivo / Spitlo.com</title>

    <meta name="googlebot" content="noindex">

    <link rel="preload" as="font" type="font/woff2" href="https://spitlo.com/fonts/GangsterGrotesk-Bold.woff2"
      crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff2" href="https://spitlo.com/fonts/VictorMono-Thin.woff2"
      crossorigin="anonymous">

    <link href="https://spitlo.com/style.css?<%= it.now %>" rel="stylesheet">
    <link href="./main.css" rel="stylesheet">

    <link rel="icon" type="image/svg+xml" href="https://spitlo.com/images/favicon.svg">
  </head>

  <body>
    <main>
      <div id="lastUpdate">Updated: <%= it.nowFormatted %> [SWE]</div>
      <div id="toolbar">
        FILTER:
        <select id="filter">
          <option value="null">---</option>
          <% for (const channel of it.channels) { %>
            <option value="<%= channel[0] %>"><%= channel[1] %></option>
          <% } %>
        </select>
        <button id="clearFilter">× CLEAR</button>
        <button id="goTop">⌃ TOP</button>
        <button id="goBottom">⌄ BOTTOM</button>
        <button id="closer">[✕]</button>
      </div>
      <div id="videoContainer">
        <% for (let day of it.days) { %>
            <h2 id="<%= day %>">
              <a aria-label="Anchor link for: <%= day %>" class="anchor" href="#<%= day %>">#</a>
              <%= day %>
            </h2>
            <% for (let video of it.videos[day]) { %>
              <div class="video" data-channel="<%= video.channel %>">
                <a href="<%= video.link %>">
                  <img src="<%= video.thumbnail %>" loading="lazy" />
                </a>

                <p>
                  <a href="<%= video.link %>">
                    <%= video.title %>
                  </a>
                </p>

                <p>
                  <a href="<%= video.channel %>">
                    <strong>
                      <%= video.author %>
                    </strong>
                  </a>

                  <span class="yt">
                    <a href="<%= video.youtube %>">
                      [YT]
                    </a>
                  </span>
                </p>
              </div>
            <% } %>
        <% } %>
      </div>
    </main>
  </body>
</html>
